{% extends "base.html" %}
{% block contenido %}  
<head>
        <title>Aportes</title>
 
</head> 

    <div id="formulario">
     
        <header class="modal-header">
             <h2 class="titulo_presentacion">Carga tu aporte en el siguiente formulario</h2>
        </header>
        
        <h6 class="titulo_formulario" >Selecciona la materia </h6>
        <form id="publicacionesForm" action="{{ url_for('publicaciones') }}" method="post">
            <select name="asignatura" id="asignatura" required>
                <option value="" disabled selected hidden>Seleccionar asignatura</option>
                <option value="Quimica Basica"> quimica basica </option>
                <option value="Introducción al Desarrollo de Software"> Introducción al Desarrollo de Software </option>
                <option value="Fundamentos de Programación"> Fundamentos de Programación </option>
                <option value="Algebra II"> Algebra II </option>
            </select>
            <br>
            </br>

           <h6 class="titulo_formulario">Ingresa el titulo del aporte </h6>
           <textarea id="titulo_aporte"  name="titulo_aporte" rows="2" cols="50" required placeholder="  Ingrese el titulo del aporte:"></textarea>
           
            <br>
            </br>
            <br>
            <h6 class="titulo_formulario">Ingresa una descripción </h6>
            <textarea id="aportes" name="aportes" rows="5" cols="50" required placeholder="  Ingrese la descripcion de su aporte:"></textarea><br><br>
            </br>
            <h6 class="titulo_formulario">Ingrese la url de su repositorio </h6>
            <textarea id="titulo_aporte"  name="titulo_aporte" rows="2" cols="50" required placeholder="  Ingrese la url del repositorio:"></textarea>
            <br>
            </br>
            
            <h6 class="titulo_formulario">Adjunte los archivos que desea compartir </h6>
            <form action="/ruta-del-servidor" method="post" enctype="multipart/form-data">
            <input button class="boton-envio" type="file" id="adjunto" name="adjunto">
           
           
           </form>
            
            <div ><button class="boton-envio" type="submit">Enviar</button></div>

        </form>

        

    </div>   

{% endblock %}  